
/* Global Stylings */
.container{
    margin-top: 15px;
    margin-bottom: 15px;
}
.column{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.navbar{
    background-color: #143D59!important;
    font-size: 20px;
    font-weight: bolder;
}
.navbar ul li a{
    color: orange!important;
}
/* End global stylings */

/* Page Title Stylings */
.jumbotron{
    background-color: #143D59!important;
    color: #F4B41A!important;
    border-radius: 0px!important;
}
/* end Page Title Stylings */

/* Employee List Stylings */
.listBtn{
    float: right!important;
}
/* End Employee List Stylings */

/* Employee Card Stylings */
.card-header{
    background-color: #F4B41A;
    color: #143D59;
}
.card{
    padding-left: 0px!important;
    padding-right: 0px!important;
}   
.card:hover {
    box-shadow: 0 8px 16px 0 red!important;
}
.card-header{
    text-align: center!important;
}
.card-title{
    min-height: 30px;
    max-height: 30px;
}
.employee-card
{
    margin: 5px;
    padding: 0px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    box-shadow: 5px 5px 5px lightgrey!important;
}
/* End Employee Card Stylings */

/* Styling For Mobile devices */
@media only screen and (max-width: 767px){
    .ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column
    {
        margin: 5px!important;
        padding: 0px!important;
        padding-top: 0px!important;
        padding-bottom: 0px!important;
        box-shadow: 5px 5px 5px lightgrey!important;
    }
}
